@media screen and (max-width: 500px) {
    .navigation-bar {
      flex-wrap: wrap;
      flex-direction: row;
      background-color: rgba(48,50,112,255);
      height: auto;
    } 
    body {
        height: 100%;
        width: 100%;
    } 
    .hello {
        background-color: rgba(48,50,112,255);
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }
  }
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.addProductWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}
input{
    margin: 5px;
}
textarea{
    margin: 5px;
    max-width: 164px;
}
#imageFile{
    max-width: 164px;
}
button{
    margin: 5px;
    background-color: #2e3295;
    border: none;
    cursor: pointer;
    color: white;
    padding: 8px;
    border-radius: 10px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 100%;
    margin-bottom: 100px;
    height: 100%;
}
#hide{
    margin-top: 10px;
    margin-bottom: 2em;
}
#productToEdit{
    margin-bottom: 4em;
}
.forTables{
    text-align: center;
    /* overflow-x: auto; */
    margin: 30px;
}
@media screen and (max-width: 630px){
    #listNewsletter{
        overflow-x: auto;
    }
    #orders{
        overflow-x: auto;
    }
    
      
}