.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.addProductWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}
input{
    margin: 5px;
}
textarea{
    margin: 5px;
    max-width: 164px;
}
#imageFile{
    max-width: 164px;
}
button{
    margin: 5px;
}