
@media screen and (max-width: 500px) {
    .navigation-bar {
      flex-wrap: wrap;
      flex-direction: row;
      background-color: rgba(48,50,112,255);
      height: auto;
    }
  
    body {
        height: 100%;
        width: 100%;
    }

    .hello {
        background-color: rgba(48,50,112,255);
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .productCard {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
  }

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0; 
}

.navigation-bar {
    width: 100%;  
    height: auto; 
    background-color: rgba(48,50,112,255);
    display: flex;
    justify-content: space-between;
}
.logo {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    display: flex;
   align-self: flex-start;    
}

.hello > a {
    vertical-align: top;
    height: 80px;        
    line-height: 80px;    
    text-decoration: none;
    color: ghostwhite;
    margin-right: 10px;
    margin-left: 10px;
}

.cartTitle{
    font-size: 30px;
    color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.imageHolder {
    height: 100px;
    width: auto;
}

img {
    height: inherit;
    object-fit: contain;
    
}

#mainCartTitle {
    margin-left: 20px;
}

#endButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    
}
#endOrderButton{
    background-color: lightgreen;
    border-color: whitesmoke;
    padding: 8px;
}
button:focus{
    outline: whitesmoke auto 1px;
}

#contactFooter {
    background-color: #1e2063;
    color: ghostwhite;
    width: 100%;
    height: auto;   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    bottom: 0; 
    left: 0; 
    right: 0;
}

.footerContainer {
    margin-left: 20px;
}