
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 100%;
}
.navigation-bar {
  width: 100%;  
  height: auto; 
  background-color: rgba(48,50,112,255);
  display: flex;
  justify-content: space-between;

}
.logo {
  display: inline-block;
  vertical-align: top;
  height: 80px;
  display: flex;
 align-self: flex-start;    
}
.hello > a {
vertical-align: top;
margin-right: 20px;
height: 80px;        
line-height: 80px;    
text-decoration: none;
color: ghostwhite;
}
.hello > button {
vertical-align: top;
margin-right: 20px;
height: 80px;        
line-height: 80px;    
text-decoration: none;
color: ghostwhite;
background-color: rgba(48,50,112,255);
border: 0;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
}

.vertical-menu {
width: 100%; 
display: flex;
justify-content: space-evenly;
flex-direction: column;
}
.vertical-menu a {
background-color: transparent; 
color: whitesmoke; 
display: flex;
justify-content: left;  
padding: 12px; 
text-decoration: none; 
font-size: 20px;
margin: 0px 0px 0px 50px;
width: 70px;
}
.vertical-menu a:hover {
background-color: rgba(255, 255, 255, 0.685);
color: darkgray;
width: 100px;
}

.holder{
  width: 25%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 20px;
}

.contactFooter {
  background-color: #1e2063;
  color: ghostwhite;
  bottom: 0;
  width: 100%;
  height: auto;   
  display: flex;
  justify-content: space-between;
}

.footerContainer {
  margin-left: 20px;
}

p {
font-size: 15px;
}

.imageHolder {
height: 150px;
}

img {
  height: inherit;
  object-fit: contain;
}

.startpage {
  background-image: url(../productImages/macBookAir13.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 550px;
  box-shadow: 10px 10px 5px grey;
  
}
.startpage >h1 {
  color: whitesmoke;
  font-size: 48px;
  margin-inline-start: 40px;
  margin-top: none;
  display: flex;
  
}
.productsstart {
  background-image: url(../productImages/appleIphone8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  text-align: center;
  color: whitesmoke;
  box-shadow: 10px 10px 5px grey;
}
.userOrderContainer{
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-shadow:5px 5px 10px #cdcdff;
}

@media screen and (max-width: 500px) {
  .navigation-bar {
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgba(48,50,112,255);
    height: auto;
  }
  .contactFooter {
    display: flex; 
    flex-direction: column;
  }

  .infoFooter {
    display: flex;
    justify-content: flex-end;
  }

  .holder {
    width:50%;
    margin: 10px;
    padding: 60px;
  }

  .hello {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
  }

  .hello > a {
    margin: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 20px;
  }
  
  .hello > button {
    margin: 0;
    width: 50%;
    font-size: 20px;
  }

  #datorer {
    margin-bottom: 30px;
  }

  #logout {
    width: auto;
    height: 70px;
  }
}
.myButton {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.myButton:active {
	position:relative;
	top:1px;
}