
.warning{
    border-color: red;
}
.signupForm{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 70vh;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 4em;
}
.loginForm{
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
}
